asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
cloudscraper
dnspython
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
jinja2
lxml
#https://github.com/Hrishi2861/mega-sdk-py-4.8.0/raw/refs/heads/main/megasdk-4.8.0-py2.py3-none-any.whl
motor
natsort
par2cmdline-turbo
pillow
psutil
pymongo
pyrofork==2.2.11
python-magic
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
#tgcrypto
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
